/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	max-width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.header {
	display: flex;
	padding: 30px;
	justify-content: space-between;
	align-items: center;
}
.header__menu {
	margin-right: 50px;
}
.menu {
	display: flex;
	font-size: 25pt;
	align-items: center;
}
@media (max-width: 1200px) {
	.menu {
		flex-wrap: wrap;
	}
	.title__body {
		flex-wrap: wrap;
	}
	.title__logo {
		margin-right: 50px;
	}
	.title__working-mode {
		margin: 0px 50px 0px 0px;
	}
	.title__contacts {
		
	}
}
@media (max-width: 1112px) {
	.title__working-mode, .title__contacts {
		margin-top: 50px;
	}
	.title__contacts {
		margin-bottom: 10px;
	}
}

.menu__item {
	margin-right: 50px;
}
.menu .menu__item:last-child {
	margin-right: 0px;
}
.mediaicons__item {
	margin-left: 12px;
}
.mediaicons .mediaicons__item:first-child {
margin-left: 0px;
}
.mediaicons {
	display: flex;
	justify-content: cnter;
}
.title {
	background-color: black;
}
.title__body {
	padding: 10px 30px 10px 30px;
	display: flex;
	justify-content: space-between;
}
.logo__item {
	color: white;
	margin-bottom: 8px;
	font-size: 20pt;
}
.title__logo .logo__item:last-child {
	margin-bottom: 0px;
	}
	.title__bold {
		font-weight: bold;
	}
	.title__item-mode {
		color: white;
		margin-bottom: 20px;
		font-size: 20pt;
	}
	.title__working-mode {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
.title__working-mode .title__item-mode:last-child {
	margin-bottom: 0px;
}
.title__contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title__number {
	font-size: 25pt;
	color: white;
	margin-bottom: 20px;
}
.button {
	border-radius: 10px;
	background-color: white;
	padding: 15px 30px;
	font-size: 20pt;
}
.appointment {
	/* background-image:url('../img/haircutpic.png'); */
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: top;
	/* opacity: 0.6; */
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url(../img/haircutpic.png);
}
.appointment__body {
	padding: 120px 30px 85px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.appointment__title {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	font-size: 30pt;
	font-weight: bold;
	color: white;
	margin-bottom: 45px;
	text-align: center;
}
.appointment__subtitle {
	font-size: 35pt;
	text-align: center;
	color: white;
	margin-bottom: 90px;
}
.appointment__button {
	font-size: 35pt;
}
.prices-header {
	padding: 50px 30px 80px;
}
.header-line {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.header-line__horizontal {
	/* width: 320px; */
	width: 30%;
	height: 5px;
	background-color: black;
}
.header-line__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px 30px 0px 30px;
}
.header-line__text {
	font-size: 25pt;
	font-weight: bold;
	margin-bottom: 35px;
}
.pricelist__item {
font-size: 25pt;
margin-bottom: 50px;
}
.pricelist__item-bold {
font-weight: bold;
text-align: center;
}
.pricelist {
padding: 0px 30px 80px;
	display: flex;
	justify-content: space-between;
	align-items: end;
}
.pricelist__prices {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 50px;
}
.pricelist__services .pricelist__item:last-child {
margin-bottom: 0px;
}
.pricelist__prices .pricelist__item:last-child {
	margin-bottom: 0px;
	}
	.contacts-header {
		padding: 0px 30px 50px;
	}
	.contacts-list {
		display: flex;
		justify-content: space-between;
		padding: 0px 30px;
		flex-wrap: wrap;
	}
	.contacts-list__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 50px;
	}
	.contacts-list__item {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.contacts-list__text {
		font-size: 25pt;
		margin-top: 25px;
		text-align: center;
	}
	.contacts-list__text-bold {
		margin-left: 15px;
		font-weight: bold;
	}
	.contacts-list .contacts-list__list:last-child {
		margin-right: 0px;
	}
	.geomap {
		padding: 50px 30px;
	}
	.geomap__image {
		min-width: 100%;
		max-width: 100%;
	}
	.footer {
		padding: 15px 30px 15px 30px;
		display: flex;
		justify-content: space-between;
		background-color: black;
	}
	.footer__menu {
		color: white;
		padding: 0px 0px 0px 120px
	}
	@media (max-width: 927px) {
		.pricelist__item, .pricelist__item-bold {
			font-size: 3vw;
		}
		.pricelist__prices {
			margin-left: 10px;
		}
	}
	@media (max-width:965px) {
		.contacts-list__list {
			margin-bottom: 80px;
		}
	}
	@media (max-width: 652px) {
		.contacts-list {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.contacts-list__list {
			margin-right: 0px;
		}
	}
	@media (max-width:848px) {
		.title__body {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.title__working-mode {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.title__logo, .title__working-mode, .title__contacts {
		margin-right: 0px;
	}
	.title__item-mode {
		text-align: center;
	}
}
@media (max-width:455px) {
	.footer__menu {
		padding-left: 40px;
	}
}
@media (min-width:1200px) {
	.pricelist, .contacts-list {
		display: flex;
		justify-content: center;
	}
}